<div class="container" id="body">
<h2 class="text-center">Generate your playlist!</h2>
<form>

  <fieldset>
    <legend>
      Size (1-100)
      <button type="button" class="btn mb-1" style="background-color:transparent" placement="right" popoverTitle="Size (1-100)"
      popover="The target size of your playlist. Default: 20" triggers="mouseenter:mouseleave">
        <i class="fa fa-question-circle"></i>
      </button>
    </legend>
    <div class="form-group">
      <input type="number" class="form-control" name="limit" id="limit" min="0" max="100" value="20"/>
    </div>
  </fieldset>

  <fieldset>
    <legend>
      Acousticness (0-1)
      <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
      popoverTitle="Acousticness (0-1)"
      popover="A confidence measure from 0.0 to 1.0 of whether the track is acoustic. 1.0 represents high confidence the track is acoustic.">
        <i class="fa fa-question-circle"></i>
      </button>
    </legend>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="min_acousticness">MIN</label>
          <input type="number" class="form-control" name="min_acousticness" id="min_acousticness" min="0" max="1" step="0.01" value="0"/>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="max_acousticness">MAX</label>
          <input type="number" class="form-control" name="max_acousticness" id="max_acousticness" min="0" max="1" step="0.01" value="1"/>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>
      Danceability (0-1)
      <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
      popoverTitle="Danceability (0-1)"
      popover="Danceability describes how suitable a track is for dancing based on a combination of musical elements including tempo, 
      rhythm stability, beat strength, and overall regularity. A value of 0.0 is least danceable and 1.0 is most danceable.">
        <i class="fa fa-question-circle"></i>
      </button>
    </legend>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="min_danceability">MIN</label>
          <input type="number" class="form-control" name="min_danceability" id="min_danceability" min="0" max="1" step="0.01" value="0"/>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="max_danceability">MAX</label>
          <input type="number" class="form-control" name="max_danceability" id="max_danceability" min="0" max="1" step="0.01" value="1"/>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>
      Energy (0-1)
      <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
      popoverTitle="Energy (0-1)"
      popover="Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and activity. Typically, 
      energetic tracks feel fast, loud, and noisy. For example, death metal has high energy, while a Bach prelude scores low 
      on the scale. Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset 
      rate, and general entropy.">
        <i class="fa fa-question-circle"></i>
      </button>
    </legend>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="min_energy">MIN</label>
          <input type="number" class="form-control" name="min_energy" id="min_energy" min="0" max="1" step="0.01" value="0"/>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="max_energy">MAX</label>
          <input type="number" class="form-control" name="max_energy" id="max_energy" min="0" max="1" step="0.01" value="1"/>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>
      Instrumentalness (0-1)
      <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
      popoverTitle="Instrumentalness (0-1)"
      popover="Predicts whether a track contains no vocals. “Ooh” and “aah” sounds are treated as instrumental in this context. 
      Rap or spoken word tracks are clearly “vocal”. The closer the instrumentalness value is to 1.0, the greater likelihood the 
      track contains no vocal content. Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as 
      the value approaches 1.0.">
        <i class="fa fa-question-circle"></i>
      </button>
    </legend>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="min_instrumentalness">MIN</label>
          <input type="number" class="form-control" name="min_instrumentalness" id="min_instrumentalness" min="0" max="1" step="0.01" value="0"/>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="max_instrumentalness">MAX</label>
          <input type="number" class="form-control" name="max_instrumentalness" id="max_instrumentalness" min="0" max="1" step="0.01" value="1"/>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>
      Liveness (0-1)
      <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
      popoverTitle="Liveness (0-1)"
      popover="Detects the presence of an audience in the recording. Higher liveness values represent an increased probability that 
      the track was performed live. A value above 0.8 provides strong likelihood that the track is live.">
        <i class="fa fa-question-circle"></i>
      </button>
    </legend>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="min_liveness">MIN</label>
          <input type="number" class="form-control" name="min_liveness" id="min_liveness" min="0" max="1" step="0.01" value="0"/>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="max_liveness">MAX</label>
          <input type="number" class="form-control" name="max_liveness" id="max_liveness" min="0" max="1" step="0.01" value="1"/>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>
      Popularity (0-100)
      <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
      popoverTitle="Popularity (0-100)"
      popover="The popularity of the track. The value will be between 0 and 100, with 100 being the most popular. The popularity is 
      calculated by algorithm and is based, in the most part, on the total number of plays the track has had and how recent those plays are.">
        <i class="fa fa-question-circle"></i>
      </button>
    </legend>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="min_popularity">MIN</label>
          <input type="number" class="form-control" name="min_popularity" id="min_popularity" min="0" max="100" step="1" value="0"/>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="max_popularity">MAX</label>
          <input type="number" class="form-control" name="max_popularity" id="max_popularity" min="0" max="100" step="1" value="100"/>
        </div>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <legend>
      Speechiness (0-1)
      <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
      popoverTitle="Speechiness (0-1)"
      popover="Speechiness detects the presence of spoken words in a track. The more exclusively speech-like the recording (e.g. talk show, 
      audio book, poetry), the closer to 1.0 the attribute value. Values above 0.66 describe tracks that are probably made entirely of spoken 
      words. Values between 0.33 and 0.66 describe tracks that may contain both music and speech, either in sections or layered, including such 
      cases as rap music. Values below 0.33 most likely represent music and other non-speech-like tracks. ">
        <i class="fa fa-question-circle"></i>
      </button>
    </legend>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="min_speechiness">MIN</label>
          <input type="number" class="form-control" name="min_speechiness" id="min_speechiness" min="0" max="1" step="0.01" value="0"/>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="max_speechiness">MAX</label>
          <input type="number" class="form-control" name="max_speechiness" id="max_speechiness" min="0" max="1" step="0.01" value="1"/>
        </div>
      </div>
    </div>
  </fieldset>

    <fieldset>
    <legend>
      Valence (0-1)
      <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
      popoverTitle="Valence (0-1)"
      popover="A measure from 0.0 to 1.0 describing the musical positiveness conveyed by a track. Tracks with high valence sound more 
      positive (e.g. happy, cheerful, euphoric), while tracks with low valence sound more negative (e.g. sad, depressed, angry).">
        <i class="fa fa-question-circle"></i>
      </button>
    </legend>
    <div class="row">
      <div class="col-6">
        <div class="form-group">
          <label for="min_valence">MIN</label>
          <input type="number" class="form-control" name="min_valence" id="min_valence" min="0" max="1" step="0.01" value="0"/>
        </div>
      </div>
      <div class="col-6">
        <div class="form-group">
          <label for="max_valence">MAX</label>
          <input type="number" class="form-control" name="max_valence" id="max_valence" min="0" max="1" step="0.01" value="1"/>
        </div>
      </div>
    </div>
  </fieldset>

  <div class="container text-center">
    <button type="submit" id="sbm" class="btn btn-success btn-lg btn-wide">Generate</button>
    <button type="reset" class="btn btn-danger btn-lg btn-wide">Reset</button>
  </div>
</form>
</div>