<div class="container" id="body">
  <div class="container" *ngIf="!sended()">
    <h1 class="text-center">{{ 'FORM.H1' | translate }}</h1>
    <form [formGroup]="paramsForm" (ngSubmit)="sendForm()">

      <fieldset>
        <legend>
          {{ 'FORM.GENRES' | translate }}
          <button type="button" class="btn mb-1" style="background-color:transparent" placement="right" popoverTitle="{{ 'FORM.GENRES' | translate }}"
          popover="{{ 'FORM.GENRES-DESC' | translate }}" triggers="mouseenter:mouseleave">
            <i class="fa fa-question-circle"></i>
          </button>
        </legend>
        <div class="form-group">
        <select multiple class="form-control select-big" formControlName="seed_genres" id="seed_genres" size="30"
                [ngClass]="{'is-invalid': paramsForm.hasError('max_genres') && paramsForm.get('seed_genres').touched
                                      || paramsForm.hasError('min_genres')}">
          <option value="alt-rock">Alternative Rock</option>
          <option value="alternative">Alternative</option>
          <option value="black-metal">Black Metal</option>
          <option value="blues">Blues</option>
          <option value="classical">Classical</option>
          <option value="club">Club</option>
          <option value="comedy">Comedy</option>
          <option value="country">Country</option>
          <option value="disco">Disco</option>
          <option value="emo">Emo</option>
          <option value="folk">Folk</option>
          <option value="funk">Funk</option>
          <option value="grunge">Grunge</option>
          <option value="hard-rock">Hard Rock</option>
          <option value="heavy-metal">Heavy Metal</option>
          <option value="hip-hop">Hip Hop</option>
          <option value="indie">Indie</option>
          <option value="indie-pop">Indie Pop</option>
          <option value="jazz">Jazz</option>
          <option value="metal">Metal</option>
          <option value="pop">Pop</option>
          <option value="psych-rock">Psychodelic Rock</option>
          <option value="punk">Punk</option>
          <option value="punk-rock">Punk Rock</option>
          <option value="r-n-b">R N B</option>
          <option value="reggae">Reggae</option>
          <option value="rock">Rock</option>
          <option value="rock-n-roll">Rock N Roll</option>
          <option value="rockabilly">Rockabilly</option>
          <option value="soul">Soul</option>
        </select>
          <div class="invalid-feedback" *ngIf="paramsForm.hasError('max_genres') && paramsForm.get('seed_genres').touched">
            {{ 'FORM.MAX-GENRES' | translate }}
          </div>
          <div class="invalid-feedback" *ngIf="paramsForm.hasError('min_genres')">
            {{ 'FORM.MIN-GENRES' | translate }}
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          {{ 'FORM.SIZE' | translate }}
          <button type="button" class="btn mb-1" style="background-color:transparent" placement="right" popoverTitle="{{ 'FORM.SIZE' | translate }}"
          popover="{{ 'FORM.SIZE-DESC' | translate }}" triggers="mouseenter:mouseleave">
            <i class="fa fa-question-circle"></i>
          </button>
        </legend>
        <div class="form-group">
          <input type="number" [ngClass]="{'is-invalid': paramsForm.get('limit').errors && paramsForm.get('limit').touched}"
                formControlName="limit"
                  name="limit" id="limit" class="form-control" />
          <div class="invalid-feedback" *ngIf="paramsForm.get('limit').hasError('required') && paramsForm.get('limit').touched">
            {{ 'FORM.REQUIRED' | translate }}
          </div>
          <div class="invalid-feedback" *ngIf="paramsForm.get('limit').hasError('min') && paramsForm.get('limit').touched">
            {{ 'FORM.MIN-ERROR' | translate }}
          </div>
          <div class="invalid-feedback" *ngIf="paramsForm.get('limit').hasError('max') && paramsForm.get('limit').touched">
            {{ 'FORM.MAX-ERROR-100' | translate }}
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          {{ 'FORM.ACOUSTICNESS' | translate }}
          <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
          popoverTitle="{{ 'FORM.ACOUSTICNESS' | translate }}"
          popover="{{ 'FORM.ACOUSTICNESS-DESC' | translate }}">
            <i class="fa fa-question-circle"></i>
          </button>
        </legend>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="min_acousticness">{{ 'FORM.MIN' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('min_acousticness').errors && paramsForm.get('min_acousticness').touched
                                                          || paramsForm.hasError('acousticness') && paramsForm.get('min_acousticness').touched}"
                formControlName="min_acousticness"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_acousticness').hasError('required') && paramsForm.get('min_acousticness').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_acousticness').hasError('min') && paramsForm.get('min_acousticness').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_acousticness').hasError('max') && paramsForm.get('min_acousticness').touched">
                {{ 'FORM.MAX-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('acousticness') && !paramsForm.get('min_acousticness').hasError('required')
                                                                                      && !paramsForm.get('max_acousticness').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="max_acousticness">{{ 'FORM.MAX' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('max_acousticness').errors && paramsForm.get('max_acousticness').touched
                                                          || paramsForm.hasError('acousticness') && paramsForm.get('min_acousticness').touched}"
                formControlName="max_acousticness"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_acousticness').hasError('required') && paramsForm.get('max_acousticness').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_acousticness').hasError('min') && paramsForm.get('max_acousticness').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_acousticness').hasError('max') && paramsForm.get('max_acousticness').touched">
                {{ 'FORM.MAX-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('acousticness') && !paramsForm.get('min_acousticness').hasError('required')
                                                                                      && !paramsForm.get('max_acousticness').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          {{ 'FORM.DANCEABILITY' | translate }}
          <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
          popoverTitle="{{ 'FORM.DANCEABILITY' | translate }}"
          popover="{{ 'FORM.DANCEABILITY-DESC' | translate }}">
            <i class="fa fa-question-circle"></i>
          </button>
        </legend>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="min_danceability">{{ 'FORM.MIN' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('min_danceability').errors && paramsForm.get('min_danceability').touched
                                                          || paramsForm.hasError('danceability') && paramsForm.get('min_danceability').touched}"
                formControlName="min_danceability"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_danceability').hasError('required') && paramsForm.get('min_danceability').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_danceability').hasError('min') && paramsForm.get('min_danceability').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_danceability').hasError('max') && paramsForm.get('min_danceability').touched">
                {{ 'FORM.MAX-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('danceability') && !paramsForm.get('min_danceability').hasError('required')
                                                                                      && !paramsForm.get('max_danceability').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="max_danceability">{{ 'FORM.MAX' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('max_danceability').errors && paramsForm.get('max_danceability').touched
                                                          || paramsForm.hasError('danceability') && paramsForm.get('max_danceability').touched}"
                formControlName="max_danceability"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_danceability').hasError('required') && paramsForm.get('max_danceability').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_danceability').hasError('min') && paramsForm.get('max_danceability').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_danceability').hasError('max') && paramsForm.get('max_danceability').touched">
                {{ 'FORM.MAX-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('danceability') && !paramsForm.get('min_danceability').hasError('required')
                                                                                      && !paramsForm.get('max_danceability').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          {{ 'FORM.ENERGY' | translate }}
          <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
          popoverTitle="{{ 'FORM.ENERGY' | translate }}"
          popover="{{ 'FORM.ENERGY-DESC' | translate }}">
            <i class="fa fa-question-circle"></i>
          </button>
        </legend>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="min_energy">{{ 'FORM.MIN' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('min_energy').errors && paramsForm.get('min_energy').touched
                                                          || paramsForm.hasError('energy') && paramsForm.get('min_energy').touched}"
                formControlName="min_energy"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_energy').hasError('required') && paramsForm.get('min_energy').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_energy').hasError('min') && paramsForm.get('min_energy').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_energy').hasError('max') && paramsForm.get('min_energy').touched">
                {{ 'FORM.MAX-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('energy') && !paramsForm.get('min_energy').hasError('required')
                                                                                      && !paramsForm.get('max_energy').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="max_energy">{{ 'FORM.MAX' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('max_energy').errors && paramsForm.get('max_energy').touched
                                                          || paramsForm.hasError('energy') && paramsForm.get('max_energy').touched}"
                formControlName="max_energy"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_energy').hasError('required') && paramsForm.get('max_energy').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_energy').hasError('min') && paramsForm.get('max_energy').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_energy').hasError('max') && paramsForm.get('max_energy').touched">
                {{ 'FORM.MAX-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('energy') && !paramsForm.get('min_energy').hasError('required')
                                                                                      && !paramsForm.get('max_energy').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          {{ 'FORM.INSTRUMENTALNESS' | translate }}
          <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
          popoverTitle="{{ 'FORM.INSTRUMENTALNESS' | translate }}"
          popover="{{ 'FORM.INSTRUMENTALNESS-DESC' | translate }}">
            <i class="fa fa-question-circle"></i>
          </button>
        </legend>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="min_instrumentalness">{{ 'FORM.MIN' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('min_instrumentalness').errors && paramsForm.get('min_instrumentalness').touched
                                                          || paramsForm.hasError('instrumentalness') && paramsForm.get('min_instrumentalness').touched}"
                formControlName="min_instrumentalness"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_instrumentalness').hasError('required') && paramsForm.get('min_instrumentalness').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_instrumentalness').hasError('min') && paramsForm.get('min_instrumentalness').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_instrumentalness').hasError('max') && paramsForm.get('min_instrumentalness').touched">
                {{ 'FORM.MAX-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('instrumentalness') && !paramsForm.get('min_instrumentalness').hasError('required')
                                                                                      && !paramsForm.get('max_instrumentalness').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="max_energy">{{ 'FORM.MAX' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('max_instrumentalness').errors && paramsForm.get('max_instrumentalness').touched
                                                          || paramsForm.hasError('instrumentalness') && paramsForm.get('max_instrumentalness').touched}"
                formControlName="max_instrumentalness"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_instrumentalness').hasError('required') && paramsForm.get('max_instrumentalness').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_instrumentalness').hasError('min') && paramsForm.get('max_instrumentalness').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_instrumentalness').hasError('max') && paramsForm.get('max_instrumentalness').touched">
                {{ 'FORM.MAX-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('instrumentalness') && !paramsForm.get('min_instrumentalness').hasError('required')
                                                                                      && !paramsForm.get('max_instrumentalness').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          {{ 'FORM.LIVENESS' | translate }}
          <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
          popoverTitle="{{ 'FORM.LIVENESS' | translate }}"
          popover="{{ 'FORM.LIVENESS-DESC' | translate }}">
            <i class="fa fa-question-circle"></i>
          </button>
        </legend>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="min_liveness">{{ 'FORM.MIN' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('min_liveness').errors && paramsForm.get('min_liveness').touched
                                                          || paramsForm.hasError('liveness') && paramsForm.get('min_liveness').touched}"
                formControlName="min_liveness"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_liveness').hasError('required') && paramsForm.get('min_liveness').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_liveness').hasError('min') && paramsForm.get('min_liveness').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_liveness').hasError('max') && paramsForm.get('min_liveness').touched">
                {{ 'FORM.MAX-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('liveness') && !paramsForm.get('min_liveness').hasError('required')
                                                                                      && !paramsForm.get('max_liveness').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="max_energy">{{ 'FORM.MAX' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('max_liveness').errors && paramsForm.get('max_liveness').touched
                                                          || paramsForm.hasError('liveness') && paramsForm.get('max_liveness').touched}"
                formControlName="max_liveness"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_liveness').hasError('required') && paramsForm.get('max_liveness').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_liveness').hasError('min') && paramsForm.get('max_liveness').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_liveness').hasError('max') && paramsForm.get('max_liveness').touched">
                {{ 'FORM.MAX-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('liveness') && !paramsForm.get('min_liveness').hasError('required')
                                                                                      && !paramsForm.get('max_liveness').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          {{ 'FORM.POPULARITY' | translate }}
          <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
          popoverTitle="{{ 'FORM.POPULARITY' | translate }}"
          popover="{{ 'FORM.POPULARITY-DESC' | translate }}">
            <i class="fa fa-question-circle"></i>
          </button>
        </legend>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="min_popularity">{{ 'FORM.MIN' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('min_popularity').errors && paramsForm.get('min_popularity').touched
                                                          || paramsForm.hasError('popularity') && paramsForm.get('min_popularity').touched}"
                formControlName="min_popularity"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_popularity').hasError('required') && paramsForm.get('min_popularity').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_popularity').hasError('min') && paramsForm.get('min_popularity').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_popularity').hasError('max') && paramsForm.get('min_popularity').touched">
                {{ 'FORM.MAX-ERROR-100' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('popularity') && !paramsForm.get('min_popularity').hasError('required')
                                                                                      && !paramsForm.get('max_popularity').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="max_energy">{{ 'FORM.MAX' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('max_popularity').errors && paramsForm.get('max_popularity').touched
                                                          || paramsForm.hasError('popularity') && paramsForm.get('max_popularity').touched}"
                formControlName="max_popularity"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_popularity').hasError('required') && paramsForm.get('max_popularity').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_popularity').hasError('min') && paramsForm.get('max_popularity').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_popularity').hasError('max') && paramsForm.get('max_popularity').touched">
                {{ 'FORM.MAX-ERROR-100' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('popularity') && !paramsForm.get('min_popularity').hasError('required')
                                                                                      && !paramsForm.get('max_popularity').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          {{ 'FORM.SPEECHINESS' | translate }}
          <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
          popoverTitle="{{ 'FORM.SPEECHINESS' | translate }}"
          popover="{{ 'FORM.SPEECHINESS-DESC' | translate }}">
            <i class="fa fa-question-circle"></i>
          </button>
        </legend>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="min_speechiness">{{ 'FORM.MIN' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('min_speechiness').errors && paramsForm.get('min_speechiness').touched
                                                          || paramsForm.hasError('speechiness') && paramsForm.get('min_speechiness').touched}"
                formControlName="min_speechiness"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_speechiness').hasError('required') && paramsForm.get('min_speechiness').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_speechiness').hasError('min') && paramsForm.get('min_speechiness').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_speechiness').hasError('max') && paramsForm.get('min_speechiness').touched">
                {{ 'FORM.MAX-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('speechiness') && !paramsForm.get('min_speechiness').hasError('required')
                                                                                      && !paramsForm.get('max_speechiness').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="max_energy">{{ 'FORM.MAX' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('max_speechiness').errors && paramsForm.get('max_speechiness').touched
                                                          || paramsForm.hasError('speechiness') && paramsForm.get('max_speechiness').touched}"
                formControlName="max_speechiness"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_speechiness').hasError('required') && paramsForm.get('max_speechiness').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_speechiness').hasError('min') && paramsForm.get('max_speechiness').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_speechiness').hasError('max') && paramsForm.get('max_speechiness').touched">
                {{ 'FORM.MAX-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('speechiness') && !paramsForm.get('min_speechiness').hasError('required')
                                                                                      && !paramsForm.get('max_speechiness').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
        </div>
      </fieldset>

        <fieldset>
        <legend>
          {{ 'FORM.VALENCE' | translate }}
          <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
          popoverTitle="{{ 'FORM.VALENCE' | translate }}"
          popover="{{ 'FORM.VALENCE-DESC' | translate }}">
            <i class="fa fa-question-circle"></i>
          </button>
        </legend>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="min_valence">{{ 'FORM.MIN' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('min_valence').errors && paramsForm.get('min_valence').touched
                                                          || paramsForm.hasError('valence') && paramsForm.get('min_valence').touched}"
                formControlName="min_valence"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_valence').hasError('required') && paramsForm.get('min_valence').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_valence').hasError('min') && paramsForm.get('min_valence').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_valence').hasError('max') && paramsForm.get('min_valence').touched">
                {{ 'FORM.MAX-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('valence') && !paramsForm.get('min_valence').hasError('required')
                                                                                      && !paramsForm.get('max_valence').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="max_energy">{{ 'FORM.MAX' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('max_valence').errors && paramsForm.get('max_valence').touched
                                                          || paramsForm.hasError('valence') && paramsForm.get('max_valence').touched}"
                formControlName="max_valence"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_valence').hasError('required') && paramsForm.get('max_valence').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_valence').hasError('min') && paramsForm.get('max_valence').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_valence').hasError('max') && paramsForm.get('max_valence').touched">
                {{ 'FORM.MAX-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('valence') && !paramsForm.get('min_valence').hasError('required')
                                                                                      && !paramsForm.get('max_valence').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>
          {{ 'FORM.TEMPO' | translate }}
          <button type="button" class="btn mb-1" style="background-color:transparent" placement="right"triggers="mouseenter:mouseleave"
          popoverTitle="{{ 'FORM.TEMPO' | translate }}"
          popover="{{ 'FORM.TEMPO-DESC' | translate }}">
            <i class="fa fa-question-circle"></i>
          </button>
        </legend>
        <div class="row">
          <div class="col-6">
            <div class="form-group">
              <label for="min_tempo">{{ 'FORM.MIN' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('min_tempo').errors && paramsForm.get('min_tempo').touched
                                                          || paramsForm.hasError('tempo') && paramsForm.get('min_tempo').touched}"
                formControlName="min_tempo"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_tempo').hasError('required') && paramsForm.get('min_tempo').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_tempo').hasError('min') && paramsForm.get('min_tempo').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('min_tempo').hasError('max') && paramsForm.get('min_tempo').touched">
                {{ 'FORM.MAX-ERROR-220' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('tempo') && !paramsForm.get('min_tempo').hasError('required')
                                                                                      && !paramsForm.get('max_tempo').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="form-group">
              <label for="max_energy">{{ 'FORM.MAX' | translate }}</label>
              <input type="number" [ngClass]="{'is-invalid': paramsForm.get('max_tempo').errors && paramsForm.get('max_tempo').touched
                                                          || paramsForm.hasError('tempo') && paramsForm.get('max_tempo').touched}"
                formControlName="max_tempo"
                  name="limit" id="limit" class="form-control" />
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_tempo').hasError('required') && paramsForm.get('max_tempo').touched">
                {{ 'FORM.REQUIRED' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_tempo').hasError('min') && paramsForm.get('max_tempo').touched">
                {{ 'FORM.MIN-ERROR' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.get('max_tempo').hasError('max') && paramsForm.get('max_tempo').touched">
                {{ 'FORM.MAX-ERROR-220' | translate }}
              </div>
              <div class="invalid-feedback" *ngIf="paramsForm.hasError('tempo') && !paramsForm.get('min_tempo').hasError('required')
                                                                                      && !paramsForm.get('max_tempo').hasError('required')">
                {{ 'FORM.MINMAX-ERROR' | translate }}
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <div class="form-group text-center mt-3 row">
        <div class="col-12 text-sm-center text-md-right col-md-6 mt-2">
          <button type="submit" [disabled]="!paramsForm.valid || clicked()" class="btn btn-success btn-lg btn-wide">
            <ng-container *ngIf="clicked()"><i class="fa fa-circle-o-notch fa-spin fa-fw"></i> {{ 'FORM.LOADING' | translate }}</ng-container>
            <ng-container *ngIf="!clicked()"><i class="fa fa-check"></i> {{ 'FORM.GENERATE' | translate }}</ng-container>
          </button>
        </div>
        <div class="col-12 col-md-6 text-sm-center text-md-left mt-2">
          <button type="button" (click)="generateForm()" class="btn btn-danger btn-lg btn-wide"><i class="fa fa-undo"></i> {{ 'FORM.RESET' | translate }}</button>
        </div>
      </div>
    </form>
  </div>

  <div *ngIf="sended()" class="container">
    <h1 class="text-center">{{ 'PLAYLIST.H1' | translate }}</h1>
    <div class="table-responsive mt-3">
      <table class="table table-striped text-center">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">{{ 'PLAYLIST.NAME' | translate }}</th>
            <th scope="col">{{ 'PLAYLIST.ARTISTS' | translate }}</th>
            <th scope="col">{{ 'PLAYLIST.ALBUM' | translate }}</th>
            <th scope="col">{{ 'PLAYLIST.YEAR' | translate }}</th>
            <th scope="col">{{ 'PLAYLIST.DURATION' | translate }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let track of songs.tracks">
            <td class="align-middle"><img src="{{track.album.images[0].url}}" height="50" width="50"></td>
            <td class="align-middle"><strong>{{track.name}}</strong></td>
            <td class="align-middle"><ng-container *ngFor="let artist of track.artists">{{artist.name}} </ng-container></td>
            <td class="align-middle">{{track.album.name}}</td>
            <td class="align-middle">{{track.album.release_date | date:'yyyy'}}</td>
            <td class="align-middle">{{track.duration_ms | date:'mm:ss'}}</td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="form-group text-center mt-3 row">
      <div class="col-12 text-sm-center text-md-right col-lg-4 mt-2">
        <button type="button" (click)="goBackToForm()" class="btn btn-lg btn-dark btn-wide">
          <i class="fa fa-chevron-left"></i> {{ 'PLAYLIST.GO-BACK' | translate }}
        </button>
      </div>
      <div class="col-12 text-center col-lg-4 mt-2">
        <button type="button" (click)="addToSpotify()" class="btn btn-success btn-lg btn-wide">
          <i class="fa fa-plus"></i> {{ 'PLAYLIST.ADD-TO-SPOTIFY' | translate }}
        </button>
      </div>
      <div class="col-12 text-sm-center text-md-left col-lg-4 mt-2">
        <button type="button" (click)="startOver()" class="btn btn-danger btn-lg btn-wide">
          <i class="fa fa-undo"></i> {{ 'PLAYLIST.START-OVER' | translate }}
        </button>
      </div>
    </div>

  </div>
</div>