@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/bootswatch/dist/flatly/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import '../node_modules/alertifyjs/build/css/alertify.min.css';
@import '../node_modules/alertifyjs/build/css/themes/bootstrap.min.css';

fieldset {
    margin-top: 20px;
}

#body {
    margin-top: 85px;
}

.btn-wide {
    width: 300px;
    margin-bottom: 20px;
    margin-top: 10px;
}

#sbm {
    margin-right: 20px;
}